<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortener Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener Microservice</h1>
      <h3>Example creation usage:</h3>
      <code><a href="https://thawing-taiga-97074.herokuapp.com/new/https://www.google.com">https://thawing-taiga-97074.herokuapp.com/new/https://www.google.com</a></code>
      <br>
      <code><a href="https://thawing-taiga-97074.herokuapp.com/new/http://freecodecamp.com/news">https://thawing-taiga-97074.herokuapp.com/new/http://freecodecamp.com/news</a></code>
      <br>If you want to pass a site that doesn't exist (or an invalid url) for some reason you can do:<br>
      <code><a href="https://thawing-taiga-97074.herokuapp.com/new/invalid?allow=true">https://thawing-taiga-97074.herokuapp.com/new/invalid?allow=true</a></code>
      <h3>Example creation output:</h3>
      <code>
        { "original_url": "http://freecodecamp.com/news", "short_url": "https://thawing-taiga-97074.herokuapp.com/a50d" }
      </code>
      <h3>Usage:</h3>
      <code><a href="https://thawing-taiga-97074.herokuapp.com/e2aB">https://thawing-taiga-97074.herokuapp.com/e2aB</a></code>
      <h3>Will redirect to:</h3>
      <code><a href="https://www.google.com/">https://www.google.com/</a></code>
    </div>
  </body>
</html>
